@using TrainingCenterCRM.BLL.DTO

@model StudentModel

@{
    var action = ViewData["Action"];
    ViewData["Title"] = $"{action} student";
}
<div class="content">
    <h1 class="content__header">@action student</h1>
    <div class="containt-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                @using (Html.BeginForm($"{action}Student", "Students", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.Id)

                    <div class="mb-3 row">
                        <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" asp-for="Name" />
                            <span asp-validation-for="Name" class="alert-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Surname" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" asp-for="Surname" />
                            <span asp-validation-for="Surname" class="alert-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Age" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="number" asp-for="Age" />
                            <span asp-validation-for="Age" class="alert-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="GroupId" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <select class="form-control" asp-for="GroupId">
                                @foreach (var group in (List<GroupDTO>)ViewData["Groups"])
                                {
                                    if (Model != null && group.Id == Model.GroupId)
                                    {
                                        <option value="@group.Id" selected>@group.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@group.Id">@group.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="GroupId" class="alert-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">@action student</button>
                }
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml")
}