@model List<StudentModel>
@{
    ViewData["Title"] = "Students";
}
<table class="table text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Age</th>
            <th scope="col">Group name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {

            <tr>
                <th scope="col">@student.Name</th>
                <th scope="col">@student.Surname</th>
                <th scope="col">@student.Age</th>
                <th scope="col">@student.Group.Name</th>
                <th scope="col">
                    <a class="btn btn-success" asp-controller="Students" asp-action="EditStudent" asp-route-id="@student.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Students" asp-action="DeleteStudent" asp-route-id="@student.Id">Delete</a>
                </th>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="Students" asp-action="AddStudent">Add new student</a>